html {
    background: grey;
}
img {
    position: center;
}
p {
    font-size: 35px;
    position: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container img {
    width: 50%;
}